body {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}






#videos-container {
    width: 100%;
    height: 100%;
}



.container-principal {
    max-width: 1280px;
    height: 1920px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(480px,1fr));
    grid-gap: 20px;
    background-color: black;
    position: relative;
    transform: rotate(-90deg);
}

.container-secundario {
    width: 780px;
    height: 20px;
    background-color: blue;
    position: absolute;
    z-index: 3;
}

#videos-container .container4 {
    margin-right: 10px;
    position: relative;
    width: 270px;
    height: 480px;
}
#container-video-boostrap .container1 {
    width: 100%;
    height: 100%;
}

.name-banner {
    position: absolute;
    bottom: 10px;
    left: -20px;
    right: 0;
    background-image: linear-gradient(to right, #1E2DFF, #1264FF);
    color: white;
}

.name-banner p {
    margin: 8px 30px;
}

#screenshare {
    width: 70%;
    height: 100%;
    float: right;
}

#screenshare .container {
    margin-left: 10px;
}

video {
    width: 100%;
    height: auto;
}

/* Display a video player in full screen */
#video-url-player {
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}

#live {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .25);
    color: white;
}

#live .circle {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: red;
    float: left;
    margin: 2px 8px 2px 0;
}