html { 
  font-family: century-gothic, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
}

.hide {
  display: none;
}

#blueDiv {
  width: 1900px;
  height: 1070px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#greenDiv {
  width: 1900px;
  height: 1070px;
  background-color: black;
  display: none;
}

#videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background: black;
  width: 640px;
  height: 1050px;
}


.container-video {
  width: 640px;
  height: 1050px;
}

#redDivContainer {
  display: flex;
  flex-direction: row;
}

video {
  width: 100%;
  height: auto;
}


.redDiv {
  width: 640px;
  height: 1070px;
  margin-right: 10px;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#textPrompt {
  text-align: justify;
  text-align-last: center;
  background-color: rgba(67, 91, 102, 0.3);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 20px; /* Mantenemos la posición superior */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%);
  font-size: 55px;
}

#timerPrompt {
  text-align: justify;
  text-align-last: center;
  background-color: rgba(67, 91, 102, 0.3);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 20px; /* Mantenemos la posición superior */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%);
  width: 70px;
  font-size: 55px;
}

#divTypePrompt {
  text-align: justify;
  text-align-last: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 30%; /* Mantenemos la posición superior */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%);
  width: 345px;
  height: 500px;
  margin: 5px;
}

#op1 {
  display: flex;
  flex-direction: column;
  margin: 9px;
  background-color: #4A3B8B;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

#op2 {
  display: flex;
  flex-direction: column;
  margin: 9px;
  background-color: #4A3B8B;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

#op3 {
  display: flex;
  flex-direction: column;
  margin: 9px;
  background-color: #4A3B8B;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

#op4 {
  display: flex;
  flex-direction: column;
  margin: 9px;
  background-color: #4A3B8B;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

#columnaPlayers{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: rgba(67, 91, 102, 0.3);
  border-radius: 5px;
  height: 80px;
  width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: azure;
  position: relative;
  top: 30%;
  left: 35%;
  font-size: 45px;
}


#imagePromptSrc{
  width: 495px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#imgPrompt{
  display: relative;
}







.progress-bar {
width: 300px;
height: 60px;
background-color: lightgray;
border-radius: 10px;
position: relative;
}

.progress-bar__fill {
height: 100%;
background-color: #4A3B8B;
border-radius: 2px;
width: 50%;
}

.progress-bar__text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}



#winnerImg {
  width: 500px; 
  height: 500px;
  border-radius: 50%; 
  overflow: hidden; 
  margin: 30px;
}
#winnerImg img{
  width: 500px;
  height: 500px;
}

#winnerName {
  font-size: 60px;
  color: white;
}

#winnerText {
  font-size: 80px;
  color: white;
}